.accordion {

    --size-padding-inline: 1.5em;

    border: 0.5px solid black;
    /* padding: 2em; */


}

.accordion p:last-child {
    padding: 0;

}

/* .accordion details[open] summary {


    border-bottom: 0.5px solid rgb(0, 0, 0);

} */

.accordion details summary {
    padding-block: calc(var(--size-padding-inline)/2);
    padding-inline: var(--size-padding-inline);

}

.accordion details[open]::details-content {
    padding-block: var(--size-padding-inline);
    padding-inline: var(--size-padding-inline);

}

.accordion details:not(:last-child) {
    border-bottom: 0.5px solid rgb(0, 0, 0);
}