.card{
    display: block;
    max-width: 350px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    background-color: white;
    box-shadow: 0 0 1em 0;
    border-radius: 0.3em;
    overflow: hidden;
}

.card .media {
    margin-bottom: 1.5em;
}

.card span,.card strong{
    display: block;
    /* padding-inline: 0.8em; */
}


.card .main, .card .footer,.card .desc{
    padding-inline: 1.5em;

}
.card .footer{
    padding-block: 2em 1.2em ;
}

.card .footer > span:first-child{
    font-weight: bold;
}
.main{
    padding-bottom: 1em;
}


.card .footer > span[title]{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    opacity: 0.7;
}

