.icons{

}


.icons .icon{
    display:inline-block;
    background:lightgray;
    border-radius: 50%;
    width: 3em;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 3em;
    margin: 0 0.3em;
    color: black;
    transition:
     background-color 0.3s ease-in,
    color 0.3s ease-in;

}


.icons .icon:hover{
    background: lightgreen;
    color: white;
}