@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background-color: rgb(221, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    margin: 0 auto;
    max-width: 130ch;
    background-color: white;
    padding: 1em 3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
}

.section.columns header,
.section.columns footer {
    text-align: center;
    margin: 0 auto;
}

.section.columns header {
    max-width: 45ch;
}



.section.section.columns header h2 {
    margin-bottom: 0.5em;
}

.section.section.columns header p {
    font-style: italic;
    opacity: 0.6;

}

.section.columns footer {
    max-width: 75ch;
    opacity: 0.6;
}

.section.columns .flex-container{
    margin: 2em 0;
    /* border: solid 2px black; */
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.section.columns .flex-item{
    flex-basis: 30ch;
    flex-shrink: 0;
    flex-grow: 1;
}


.section.columns header::after,
.section.columns footer::before{
    width: 4em;
    content: "";
    display: block;
    height: 2px;
    margin: 2em auto;
    opacity: 0.2;
    font-weight: 500;
    background-color: black;

}