@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background-color: rgb(221, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(185, 176, 176);
    background-color: rgb(255, 255, 255);
    padding: 1.5em 2em;
    max-width: 130ch;
    border-radius: 0.3em;
    box-shadow: 0 0.1em 0.3em 0 rgb(0, 0, 0, 0.2);
}
header{
  
text-align: center;

}

header p{
max-width: 45ch;
margin: 0 auto;
padding: 1.5em 0; 
opacity: 0.5;
font-style: italic;

}


.flex-container{
    display: flex;
    gap: 2em;
}


footer{
    margin: 0 auto;
    max-width: 78ch;
    text-align: center;
    padding-top: 2em;
}
footer p{
    opacity: 0.5;
    font-style: italic;
}



header p::after,footer p::before{
content: "";
display: block;
border: 0.1em solid black;
max-width: 8ch;
opacity: 0.1;
border-radius: 0.3em;
margin: 1.5em auto;

}