@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background: #ccc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    background: #fff;
    max-width: 100ch;
    margin: 0 auto;
    padding: 1.5em 1.2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
}

.section.columns footer,
.section.columns header {
    text-align: center;
    margin: 0 auto;
}

.section.columns header {
    max-width: 45ch;
}

.section.columns header h2 {
    margin-bottom: 0.5em;
}

.section.columns header p {
    font-style: italic;
    opacity: 0.7;
}

.section.columns footer {
    max-width: 75ch;
    opacity: 0.7;
}

.section.columns footer::before,
.section.columns header::after {
    width: 4em;
    height: 2px;
    display: block;
    content: '';
    background: rgb(228, 222, 222);
    margin: 2em auto;
}

.section.columns .flex-container{
    margin: 2em;
    /* border: 1px solid #000; */
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

}

.section.columns .flex-container .flex-item{

flex-basis: 20ch;
flex-grow: 1;
flex-shrink: 0;
/* border: 2px solid black; */
}

