@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato, sans-serif;
}
body{
    background: rgb(219, 218, 218);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.section{
    background: white;
    max-width: 100ch;
    margin: 0 auto;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.2);
    border-radius: 0.3em;
    padding: 1.5em 2em;
}

.section header, 
.section footer{
    margin: 0 auto;
    text-align: center;
}

section header p,
section footer p{
    opacity: 0.5;
}

.section header{
    max-width: 45ch;
}

.section footer{
    max-width: 75ch;
}
header p{
    font-style: italic;
    font-weight: 500;
}

header h2{
    margin-bottom: 0.5em;
}
footer p{
    margin-top: 1em;
}


.flex-container{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.flex-item{
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 20ch;
}

header::after,
footer::before{

    content: '';
    background: rgb(231, 225, 225);
    height: 2px;
    width: 4em;
    margin: 2em auto;
    display: block;


}