@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}



body {
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    max-width: 130ch;
    padding: 2em 4em;
    /* margin: 0 auto; */
}


header,
footer {
    text-align: center;
    margin: 0 auto;
}

h2 {
    padding-bottom: 0.5em;
}

h3{
    padding-bottom: 0.5em;
}

header p {
    max-width: 45ch;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.5;
    margin: 0 auto;
}



.flex-container {
    padding: 2em 0;
    display: flex;
    gap: 2.5em;
    flex-wrap: wrap;



}

.flex-item {
    flex-wrap: wrap;
    margin:  0 auto;

    display: flex;
    flex-basis: auto;
    /* max-width: 35ch; */
    flex-basis: 35ch;


}

footer {
    opacity: 0.5;
    font-weight: 550;
    max-width: 86ch;

}

header p::after,
footer::before {
    border: 1.5px solid black;
    content: '';
    display: block;
    max-width: 8ch;
    margin: 1.5em auto;
    opacity: 0.2;

}

header p::after {
    margin: 1.5em auto;
}