.links{
margin: 2em 0 4em 0

}

h3{
    margin-bottom: 1em;
}

.link{
    margin-inline: 0.5em;
    border: 1px solid lightgray;
    border-radius: 8%;
    padding: 1em ;
    text-decoration: none;
    color: inherit;
    
}

.links .link:nth-child(2),.links .link:nth-child(6) {
    background-color: rgb(196, 193, 193);
}

.links .link:nth-child(3){
    background-color: orange;
}

.links .link:nth-child(4){
    background-color: rgb(231, 231, 185);
}
.links .link:nth-child(5){
    background-color:whitesmoke
}
.links .link:nth-child(6){
    padding-left: 2.5em;
}


.button{
    margin-inline: 0.5em;
    border: 1px solid lightgrey;
    border-radius: 8%;
    padding: 1em ;
   
    
}


.buttons .button:nth-child(2),.buttons .button:nth-child(6) {
    background-color: rgb(196, 193, 193);
}
.buttons .button:nth-child(6){
    padding-left: 2.5em;
}
.buttons .button:nth-child(3){
    background-color: orange;
}

.buttons .button:nth-child(4){
    background-color: rgb(231, 231, 185);
}

