.accordion {

    --size-padding-inline: 1.5em;


    --border: 2px solid darkgray;
    border: var(--border);
}

.accordion p:last-child {
    padding: 0;

}

.accordion details summary {
    padding-block: calc(var(--size-padding-inline) / 2);


    padding-inline: var(--size-padding-inline);
    /* border-bottom: 1px solid darkblue; */

    border-bottom: var(--border);
}



.accordion details:not(:last-child)[open]::details-content {
    border-bottom: var(--border);


}



.accordion details[open]::details-content {
    padding-block: calc(var(--size-padding-inline) / 2);
    padding-inline: var(--size-padding-inline);
}