@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
body{
    background: #eee;
}

img{
    display: block;
    width: 100%;
    height: auto;

}


.container{
    max-width: 800px;
    margin: 2em auto;
    padding: 0 2em;
    /* border: 1px solid black; */
}

.gallery{
 display: flex;
 flex-wrap: wrap;
 gap: 2em;
}

.gallery img{
    box-shadow:  0 0 0.5em 0 rgb(0 0 0 0.2);
    border-radius: 0.5em;
}

.gallery li{
display: flex;
flex: 1 1 30%;
overflow: hidden;
border: 0.3em solid #222;
border-radius: 0.2em;
box-shadow: 0 0 2em 0 rgb(0,0,0,0.5);
background: white;
padding: 1em;
}

.gallery a{
    display: flex;
    flex-direction: column;
    color: #665;
    text-decoration: none;
    line-height: 1;
    justify-content: center;
    position: relative;
    padding-bottom: 2em;





}

.gallery a figcaption{
    /* margin-top: auto; */
 position: absolute;
 bottom: 0;
 left: 0;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 1.08em;
    overflow: hidden;
}