@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background: #eee;
}


img{
    display: block;
    width: 100%;
    height: auto;

    border-radius: 0.2em;
}

.container{
    padding: 0 2em;
}

.gallery{
    display: flex;

    flex-wrap: wrap;

    gap: 2em;
    /* flex:1 1 30%; */
}

li{
    display: flex;
    /* overflow: hidden; */

    border-radius: 0.2em;
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.5);


    border: 2px solid rgb(109, 108, 108);
    padding: 1em;

    background-color: white;

    flex: 1 1 25ch;

}

a{

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;

    position: relative;

    padding-bottom: 1.5em;

}


figcaption{
    /* margin-top: auto; */
    font-style: italic;
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    color: #aaa;

    }


    .gallery::before,.gallery::after{
        display: block;
        content: '';
        flex: 1 1 25ch;

        order: 999;
    }


   