      * {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
      }

      body {
          padding: 2em;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 14px;
      }

      a {
          color: #369;
          text-decoration: none;
      }

      .section {
          padding: 0 calc((100% - 700px) / 2);
      }

      .section.site-header {
          display: flex;
          align-items: center;
      }

      .section.site-header nav {
          margin: 0 auto;
      }