.post {
    background: rgb(247, 240, 240);

    border-radius: 0.3em;

        padding: 0.5em 0.7em;
    border: 1px solid grey;
}

.post header p {
    font-size: 1.2em;
    line-height: 1.3;
    font-weight: 500;
    opacity: 0.6;
}


@media(width>600px) {
    .post {
        padding: 2em 2.5em;
        border: 1px solid grey;
    }
}