@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background-color: rgb(221, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.keyboard{
    /* display: flex; */
    border: 1px solid rgb(39, 39, 44);
    background-color: rgb(230, 219, 206);
    padding: 1em 1.5em;
    /* gap: 1em; */
    border-radius: 0.2em;

    box-shadow: 0 0 1em 0 rgb(0,0,0, 0.3);

}

.key-row{
    display: flex;
    gap: 0.3em;
    padding-block: 0.2em;


}

.keyboard .key{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(128, 125, 125);
    align-items: center;
    padding: 0.5em;
    height: 4ch;
    flex-grow: 1;
    text-align: center;

    border-radius: 0.2em;
    /* aspect-ratio: 1/1; */

    box-shadow: 0 0 1em 0 rgb(0,0,0, 0.3);



}

.keyboard .key:active{
    box-shadow: none;
    background-color: rgb(190, 188, 188);
}


.special{
    background-color: rgb(188, 226, 226);
    height: 4ch;
}

.key:not(.special){
    background-color: rgb(210, 235, 208);
    width: 4ch;
}

.keyboard .key-space{
    flex-basis: 50%;
    background-color: rgb(197, 181, 212);
}

.keyboard .key-row:nth-child(4){
    padding-right: 3em;
}

.keyboard .key-enter{
    position: relative;
    border-bottom-right-radius: 0;
}


 .key-enter::after{

    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: -1px;
    padding: 1.4em 1.25em;
    background-color: inherit;



    border-radius: 0.2em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;



    border: inherit;

    border-top: none;

}

.function-keys .key {
    height: 3ch;
    width: 4ch;
    margin-bottom: 0.5em;
   
}



.key-shift-left{
    flex-basis: 15%;
}
.key-shift-right{
    flex-basis: 10%;
}
/* 
.keyboard .key-esc{
    margin-right: 2em;
} */