body{
  padding: 1em;
  border: 1px solid black;
  max-width: 800px;
}

.flex-container{
  display: flex;
  border: 2px solid blue;
  padding: 2em;
}

.flex-item{
  display: flex;
  padding: 2em;
  border: 1px solid black;
  background-color: lightgray;
}

.justify-content-flex-end{
  justify-content: flex-end;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-space-between{
  justify-content: space-between;
}

.justify-content-space-around{
  justify-content: space-around;
}

.justify-content-space-evenly{
  justify-content: space-evenly;
}