
.card{
    border: 1px solid black;
    min-height: 600px;
    background-image: url("../../images/image1.jpg");
    background-size: 900px;
    width: auto;
}



h1, p{
    position: absolute;
    left: 50%;
    right: 50%;
}