.post{
    background: whitesmoke;

    border-radius: 0.3em;
    padding: 2em;
}

.post header p{
    font-size: 1.2em;
    line-height: 1.3;
    font-weight: 600;
    opacity: 0.6;
    font-style: italic;
}

@media (width>600px){
      .post{  padding: 4em 2.5em;
        border:  2px solid lightgray;
      }
}