.icons{
    
}

.icons .icon{
    display: inline-block;
    background: lightgray;
    border-radius: 50%;
    width: 3em;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 2.9em;
    color: black;
    border: 1px solid black;
    margin: 0 0.5em;

}
/* 
.icons .icon:not(:last-child){
    margin-right: 0.5em;
} */


.icons .icon:hover{
    background: blueviolet ;
    color: white;
    transform: scale(1.5);
    transition: transform 0.5s, background-color 0.5s ease-in-out, 
    color 1.2s ease-in
    ;
}