body{
  padding: 1em;
  border: 1px solid black;
  max-width: 800px;
}

.flex-container{
  display: flex;
  border: 2px solid blue;
  padding: 2em;
  height: 15em;

}

.flex-item{
  display: flex;
  padding: 2em;
  border: 1px solid black;
  background-color: lightgray;
}



.align-items-stretch{
  align-items: stretch;
}

.align-items-flex-start{
  align-items:flex-start ;
}

.align-items-center{
  align-items:center ;
}
.align-items-flex-end{
  align-items:flex-end ;
}

.align-items-baseline{
  align-items:baseline ;
}