:root {
    /* @link https://utopia.fyi/type/calculator?c=320,11,1.2,1240,18,1.25,6,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --fs-body: clamp(0.6875rem, 0.5788rem + 0.5435vw, 1rem);
    --fs-heading-6: clamp(0.7734rem, 0.6251rem + 0.7418vw, 1.2rem);
    --fs-heading-5: clamp(0.8701rem, 0.6719rem + 0.9911vw, 1.44rem);
    --fs-heading-4: clamp(0.9789rem, 0.7183rem + 1.3028vw, 1.728rem);
    --fs-heading-3: clamp(1.1012rem, 0.763rem + 1.6911vw, 2.0736rem);
    --fs-heading-2: clamp(1.2389rem, 0.8043rem + 2.1729vw, 2.4883rem);
    --fs-heading-1: clamp(1.3938rem, 0.8399rem + 2.7691vw, 2.986rem);
}

html {
    font-family: Georgia, serif;
    font-size: var(--fs-body);
    line-height: 1.5;
}

body,
input,
textarea,
button,
select,
option {
    font: inherit;
}

p,ul,ol {
    padding-bottom: 1.5em;
}
ul,ol{
    padding-left: 2em;
    line-height: 1.3;
}

ul li, ol li{
    padding-bottom: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    line-height: 1.1;
}


h1 {
    font-size: var(--fs-heading-1)
}

h2 {
    font-size: var(--fs-heading-2)
}

h3 {
    font-size: var(--fs-heading-3)
}

h4 {
    font-size: var(--fs-heading-4)
}

h5 {
    font-size: var(--fs-heading-5)
}

h6 {
    font-size: var(--fs-heading-6)
}


blockquote{
    border-left: 4px solid grey;
    margin-bottom: 1.5em;
    padding-left: 2em;
    font-style: italic;
}

blockquote p:last-child{
    padding: 0;
}

