* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background: rgb(233, 233, 233);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

}

body>* {
    width: 100%;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding: 0.2em;

    border: 1px solid rgb(173, 162, 162);
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);

    max-width: 130ch;

    min-width: fit-content;





}

.section>* {
    display: flex;
    justify-content: center;
    text-decoration: none;

    flex-grow: 1;

    background-color: white;
    border-radius: 0.3em;


}




.section .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-self: stretch;

    border: 1px solid rgb(155, 151, 151);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;





}

.section .aside>* {
    flex: 1;
}


.section .aside div {
    border: 1px solid rgb(155, 151, 151);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;




}





.section .main {
    flex-direction: column;


    border: 1px solid rgb(155, 151, 151);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-basis: 60%;



}

.section ul {
    display: flex;

    align-items: center;



}

.section h3,
.section li {

    border: solid rgb(170, 170, 170) 1px;
    border-right: 0;



}

.aside h3 {
    border: 0;
}


.section header h3 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section li {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    min-width: 0;
    list-style: none;
    padding: 0 1.9em;
}