* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background: rgb(221, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

body>* {
    width: 100%;
}

.section {
    margin: 0 auto;
    max-width: 120ch;
    background: white;
    padding: 1.5em 1.2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;
}



.calendar {
    display: flex;
    gap: 0;
}

.calendar>* {
    border: 1px solid grey;
    flex: 1 1 auto;
}

.calendar .main,
.calendar .aside {
    display: flex;
    flex-direction: column;



}


.calendar .main>*,
.calendar .aside>* {
    flex-grow: 1;



}

.calendar .row header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 1px solid lightgray;
}

.calendar .row header h2 {
    font-size: 1em;
    font-weight: normal;

}

.calendar .aside {
    flex-basis: 30ch;

}

.calendar .aside>* {
    flex-grow: 1;
}

.calendar .aside div {
    padding: 1em;
    border: 1px solid #ccc;
    text-align: center;
}

.calendar .row {
    display: flex;
    flex-direction: column;
}

.calendar .row>*{
    flex-grow: 1;
}

.calendar .row>ul {
    display: flex;
}

.calendar .row>ul li {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 1px solid lightgray;

}