* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background-color: rgb(230, 230, 230);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 0.8em;
    margin-bottom: 4em;


    background-color: whITE;
    padding: 1.5em;
    width: 120ch;
    box-shadow: 0em 0em 1.5em 0.1em rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
}

main,
aside,
header,
footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    /* flex-shrink: 1; */


    border: 1px solid rgb(214, 204, 204);
    border-radius: 0.3em;
    padding: 1.5em;
    /* width: 100%; */
}

.section aside {
    flex-basis: 30%;
}

.section main {
    flex-basis: 65%;

}



.bottom main {
    order: 3;
}

.bottom aside {
    order: 2;
}

.bottom footer {
    order: 4;
}