* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    background-color: rgb(221, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body>*{
    width: 100%;
}

.section p+p {
    display: none;
}

.section {
    margin: 0 auto;
    max-width: 100ch;
    background-color: white;
    padding: 2em 2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.section>*{
    border: 1px solid rgb(167, 160, 160);
    border-radius: 0.3em;
    padding: 1em;
    flex-grow: 1;
}

.section>header,.section>footer{
    flex-basis: 100%;
    flex-shrink: 0;
}

.section>header{
    /* margin-bottom: 1em; */

}

.section>main{
    /* margin-left: 1em; */
    flex-basis: 60%;
    
}


.section>aside{
    /* margin-left: 1em; */
    flex-basis: 30%;
    
}
.section>footer{
    /* margin-top: 1em; */
    
}